---
layout: default
description: microbiology publications page.
---

{% if page.publications-micro and site.data[page.publications-micro] %}
  {% assign publications = site.data[page.publications-micro] %}
{% elsif site.data.publications-micro %}
  {% assign publications = site.data.publications-micro %}
{% endif %}

<!-- {% include breadcrumbs.html %} -->

{{ content }}
<div>
  <b>Key:</b>
  <ul class="fa-ul">
    <li><span class="fa-li"><i class="far fa-desktop"></i></span>Journal Website</li>
    <li><span class="fa-li"><i class="far fa-file-pdf"></i></span>PDF</li>
    <li><span class="fa-li"><i class="far fa-copy"></i></span>PDF Supplemental Information</li>
    <li><span class="fa-li"><i class="far fa-file-powerpoint"></i></span>Preprint</li>
    <li><span class="fa-li"><i class="fab fa-twitter"></i></span>Twitter</li>
    <li><span class="fa-li"><i class="fab fa-github"></i></span>Github</li>
  </ul>
</div>
<br />

{% for paper in publications %}
  <div class="d-flex team-member">
    <!-- <div class="flex-shrink-0 me-3">
      {% if paper.image %}
        <img src="{{ paper.image | relative_url }}" alt="{{ paper.name }}">
      {% endif %}
    </div> -->
    <div>
      <h6 id="{{ paper.title | strip | url_encode }}" style="margin-bottom: 0; margin-block-end: 0;">
        <i>{{ paper.title }}</i>
      </h6>
      <div class="text-muted">
        {% if paper.authors %}
          {{ paper.authors | newline_to_br | split: '<br />'}}
        {% endif %}
        {% if paper.journal %}
          <br /><strong>{{ paper.journal }}</strong>
        {% endif %}
        {% if paper.edition %}
         {{ paper. edition}}
        {% endif %}
        {% if paper.doi %}
         | <a href="https://doi.org/{{ paper.doi }}" title="DOI">{{ paper.doi }}</a>
        {% endif %}
      </div>

      {{ paper.extra | markdownify | newline_to_br | split: '<br />'}}

      <ul class="list-inline">
        {% if paper.html %}
          <li class="list-inline-item">
            <a href="{{ paper.html }}" title="Publication Website"><i class="far fa-desktop"></i></a>
          </li>
        {% endif %}
        {% if paper.pdf %}
          <li class="list-inline-item">
            <a href="{{ paper.pdf | absolute_url }}" title="PDF"><i class="far fa-file-pdf"></i></a>
          </li>
        {% endif %}
        {% if paper.suppinfo %}
          <li class="list-inline-item">
            <a href="{{ paper.suppinfo | absolute_url }}" title="PDF Supplemental Information"><i class="far fa-copy"></i></a>
          </li>
        {% endif %}
        {% if paper.preprint %}
          <li class="list-inline-item">
            <a href="{{ paper.preprint }}" title="Preprint"><i class="far fa-file-powerpoint"></i></a>
          </li>
        {% endif %}

        {% if paper.twitter %}
          <li class="list-inline-item">
            <a href="{{ paper.twitter }}" title="Twitter"><i class="fab fa-twitter"></i></a>
          </li>
        {% endif %}

        {% if paper.github %}
          <li class="list-inline-item">
            <a href="https://github.com/emonetlab/opto-track" title="GitHub"><i class="fab fa-github"></i></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endfor %}